.api_form {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 15px 30px;
    margin: 0 auto 0;
    width: 100%;
    /* align-items: flex-start; */
}

.api_form_header {
    margin: 0;
    padding: 0 0 30px;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--color-primary-200);
    width: 100%;
}

.api_form_item {
    display: flex;
    position: relative;
    padding: 20px 0;
    margin-top: 0;
    width: 100%;
}

.api_input_field {
    width: 100%;
    border: none;
    outline: 0;
    padding: 7px 0;
    padding-left: 5px;
    font-size: 0.9rem;
    border-bottom: 0.1rem solid var(--color-gray-700);
    background: transparent;
    transition: border-color 0.2s;
    color: var(--color-primary-200);
    border-radius: 0.2rem;
    cursor: pointer;

    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown ~ .api_input_label {
        font-size: 0.9rem;
        cursor: text;
        top: 22px;
    }
    &:hover {
        background-color: var(--color-gray-800);
        transition: 0.2s;
    }
}

.api_input_label {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    transition: 0.2s;
    padding-left: 7px;
    color: var(--color-primary-200);
    cursor: pointer;
}

.api_input_field:focus {
    ~ .api_input_label {
        position: absolute;
        transition: 0.2s;
        font-size: 0.7rem;
        top: 0;
        color: var(--color-primary-600);
    }
    padding: 8px 0;
    border-color: var(--color-primary-600);
    border-width: 0.15rem;
}

.api_form_group_cc {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 10rem;
}

.api_btn_save {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.api_btn_save button {
    font: inherit;
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.7rem 2rem;
    border-radius: 4px;
    background-color: var(--color-primary-300);
    color: var(--color-gray-800);
    border: none;  
}

.api_btn_save button:hover {
    background-color: var(--color-primary-500);
}

.api_form_btns_sel {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.api_form_btn_sel {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-primary-300);
    font-size: medium;
}