.new {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 600;
  justify-content: flex-start;
  background-color: transparent;
  &:hover {
    transform: translateY(-0.1rem);
  }
}

.new a {
  border: 2px solid var(--color-gray-700);
  color: var(--color-primary-200);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.new a:hover {
  background-color: var(--color-gray-700);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
  color: var(--color-primary-200);
}

.item a:hover {
  transform: scale(1.01);
  background-color: var(--color-gray-700);
}

.content {
  padding: 1rem;
}

.item h4 {
  margin: 0;
}
