.new {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 600;
  justify-content: flex-start;
  background-color: transparent;
  &:hover {
    transform: translateY(-0.1rem);
  }
}

.new span {
  cursor: pointer;
  border: 2px solid var(--color-gray-700);
  color: var(--color-primary-200);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
}

.new span:hover {
  background-color: var(--color-gray-700);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
  color: var(--color-primary-200);
}

.item a:hover {
  transform: scale(1.01);
  background-color: var(--color-gray-700);
}

.content {
  padding: 1rem;
}

.item h4 {
  margin: 0;
}

.card_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  transition: 0.2s ease;
}

.overlay_content {
  position: relative;
  top: 12%;
}