.landing_navigation {
	display: flex;
	/* z-index: 1; */
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 25px 55px;
	background-color: black;
}

.brand a {
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color: white;
}

.landing_nav_container {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid grey;
	border-radius: 25px;
	background-color: black;
	padding: 10px 45px;
	box-shadow: 3px 5px 4px 0px rgba(120, 118, 118, 0.414);
}

.landing_nav_container a {
	margin: 0 30px;
	text-decoration: none;
	color: rgba(208, 202, 202, 0.728);
	&:hover {
		color: white;
	}
}

.landing_nav_container a.active {
	color: white;
}

.landing_login {
	display: flex;
	gap: 10px;
}

.landing_login button:first-child {
	border: 1px solid grey;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 10px;
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

.landing_login button:last-child {
	border: 1px solid grey;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 10px;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

.card_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.882);
	z-index: 10;
	transition: 0.2s ease;
}

.overlay_content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 500px;
	height: 600px;
	float: left;
	border-radius: 12px;
}
