.card_container {
  width: 60%;
  background-color: var(--color-gray-800);
  border-radius: 2%;
  padding: 10px 0;
  margin: auto;
}

.paragraph {
  font-size: 2rem;
  color: var(--color-primary-200);
}

.card_close {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.form,
.paragraph {
  max-width: 40rem;
  margin: 1.5rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type='button'] {
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-300);
}

.actions button[type='button']:hover {
  background-color: var(--color-gray-800);
}
