.form {
	display: flex;
	flex-direction: column;
	max-width: 40rem;
	margin: 30px auto;
}

.form header {
	font-size: 23px;
	font-weight: 550;
	color: black;
	margin: 0;
	text-align: center;
	padding-bottom: 30px;
	&:after {
		content: '______';
		display: block;
		/* transform: translateY(-15px); */
		color: #868080;
	}
}

#lfboxClose {
	background: none;
	color: #afb7c3;
	font-size: 30px;
	position: absolute;
	top: 30px;
	right: 30px;
	border: none;
	padding: 0;
	&:after {
		content: '\00d7';
		cursor: pointer;
	}
	&:hover {
		color: #afb7c3bc;
	}
}

.form_content {
	padding: 5px 40px;
}

.lf_input_field {
	padding: 5px 0px;
}

.lf_input_field input {
	width: 100%;
	background-color: white;
	border: 1.5px solid #d8d0d0;
	border-radius: 15px;
	padding: 12px 8px;
	font-size: 15px;
	&:focus,
	&:hover {
		outline: none;
		border: 1.5px solid grey;
	}
}

.lf_input_field input.invalid {
	border-color: rgba(255, 0, 0, 0.296);
}

.login_options {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.login_options a {
	color: black;
	text-decoration: none;
	font-size: 12px;
	&:hover {
		color: grey;
	}
}

label[for='remember_me'] {
	cursor: pointer;
	color: black;
	font-size: 12px;
}

.actions {
	display: flex;
	flex-direction: column;
}

.actions button[name='login'] {
	width: 100%;
	font-size: 15px;
	line-height: 1.6;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: none;
	&:hover {
		background-color: rgb(0, 0, 0);
	}
}

.actions span {
	padding: 20px 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 0.7;
	color: grey;
}

.actions button[name='google'] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 15px;
	background-color: white;
	border: 1px solid black;
	&:hover {
		background-color: rgb(244, 244, 243);
	}
}

.actions button[name='google'] p {
	margin: 0;
	font-size: 15px;
	line-height: 1.6;
	color: black;
}

.googlelogo,
.warningIcon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
}

img {
	vertical-align: middle;
	border-style: none;
	overflow-clip-margin: content-box;
	overflow: clip;
}

.actions div {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.actions a {
	width: 25%;
	margin: 10px auto;
	padding: 8px 12px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	&:hover {
		background-color: rgb(0, 0, 0);
	}
}

.error {
	border: 1px solid #eac8c8;
	background-color: #eac8c8;
	width: 100%;
	height: 40px;
	font-size: 14px;
	color: #6c2f2f;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
