.header {
    display: flex;
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    justify-content: space-between;
}

.list {
    display: flex;
    gap: 1rem;
}

.list a {
    text-decoration: none;
    color: var(--color-primary-200);
}

.list a:hover,
.list a.active {
    color: var(--color-primary-800);
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

.dropdown > img {
    border-radius: 50%;
    max-width: 5%;
    cursor: pointer;
    margin-right: 5px;
}

.dd_content {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 45px;
}

.dd_content a,
.dd_content button {
    display: block;
    text-decoration: none;
    /* padding: 2px 30px; */
    font-size: medium;
    border: none; /* for the button */
    border-block-end: solid var(--color-gray-600);
    color: var(--color-primary-200);
    background-color: var(--color-gray-500);
    cursor: pointer;
}

.dd_content a {
    padding: 2px 50px;
}
.dd_content button {
    padding: 4px 50px;
}

.dd_content a:hover,
.dd_content button:hover {
    color: var(--color-primary-600);
    background-color: var(--color-gray-800);
}

.dd_content_display {
    display: flex;
}

.dd_caret_down {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-rendering: auto;
    transform: translate(0 ,0);
    color: var(--color-primary-600);
    text-decoration: none;
}

.dd_userheader {
    padding: 0 10px;
    font-style: normal;
    font-size: medium;
    color: var(--color-primary-600);
}

/* ~ because both classes are siblings */
/* .dropdown_image:hover ~ .dropdown_content {
    display: flex;
} */

