.header_frame {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 2rem;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-radius: 7px;
  background-color: white;
}

.header_text {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
  color: black;
}

.header_content {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-primary-200);
  margin-bottom: 0;
}
