.tabs_container {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem;
}

.bloc_tabs {
    display: flex;
    flex-direction: row;
    border-top: 0.1rem solid var(--color-gray-700);
    border-bottom: 0.1rem solid var(--color-gray-700);
    border-radius: 2rem;
    position: relative;
    margin-bottom: 1rem;
}

.tab_indicator {
    position: absolute;
    width: calc(50%);
    left: calc(0%);
    transition: left 350ms ease 0s;
    bottom: 0px;
    &::after {
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        background-color: var(--color-primary-700);
        border-radius: 80px 80px 0px 0px;
        margin: auto;
        position: relative;
    }
}

.tab_indicator_2 {
    left: calc(50%);
}

.tab {
    flex: 1;
    height: 2.5rem;
    min-height: 2.5rem;
    padding: 0;
    font-size: 0.85rem;
    border: none;
    border-right: 0.1rem solid var(--color-gray-700);
    background-color: var(--color-gray-900);
    color: var(--color-primary-200);
    transition: all 300ms ease 0s;
    cursor: pointer;
    &:hover{
        background-color: var(--color-gray-800);
        border-radius: 2rem 0 0 2rem;
    }
    &:last-child {
        border-right: none;
    }
}

.tab_2:hover {
    border-radius: 0 2rem 2rem 0;
}

.active_tab {
    color: var(--color-primary-500);
}

.content {
    padding-left: 1rem;
}
