.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 700px;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 25px;
}

.form_content {
	display: flex;
}

.left_side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.separator {
	text-align: center;
	margin: auto;
	width: 15%;
	font-size: 15px;
	font-weight: 500;
	line-height: 0.7;
	color: grey;
}

.right_side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 100%;
}

button[name='google'] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 4px;
	background-color: white;
	border: 1px solid black;
	&:hover {
		background-color: rgba(240, 240, 240, 0.827);
	}
}

button[name='google'] p {
	margin: 0;
	font-size: 15px;
	line-height: 1.6;
	color: black;
}

.googlelogo,
.warningIcon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
}

img {
	vertical-align: middle;
	border-style: none;
	overflow-clip-margin: content-box;
	overflow: clip;
}

header {
	font-size: 23px;
	font-weight: 550;
	color: white;
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
	&:after {
		content: '_________________';
		display: block;
		/* transform: translateY(-15px); */
		color: #868080;
	}
}

.su_input_field {
	padding: 5px 0px;
}

.su_input_flnames {
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 10px;
}

.su_input_field input {
	position: relative;
	width: 100%;
	background-color: white;
	border: 1.5px solid #d8d0d0;
	border-radius: 4px;
	padding: 8px 4px;
	padding-left: 25px;
	font-size: 15px;
	color: black;
	&:focus,
	&:hover {
		outline: none;
		border: 1.5px solid grey;
	}
	&::placeholder {
		color: rgba(128, 128, 128, 0.966);
	}
}

.su_input_field input.invalid {
	border-color: rgba(255, 0, 0, 0.296);
}

label {
	position: absolute;
}

.icon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
	position: absolute;
	right: -30px;
	top: 6px;
	z-index: 2;
}

button[name='signup'] {
	margin-top: 30px;
	width: 100%;
	font-size: 15px;
	line-height: 1.6;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	color: black;
	border: none;
	&:hover {
		background-color: rgba(240, 240, 240, 0.827);
	}
}

.footer {
	margin-top: 30px;
	text-align: center;
}

.footer span {
	padding: 20px 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 0.7;
	color: grey;
}

.footer button {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.6;
	text-decoration: underline;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}

.card_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.882);
	z-index: 10;
	transition: 0.2s ease;
}

.overlay_content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 500px;
	height: 570px;
	float: left;
	border-radius: 12px;
}

.error {
	border: 1px solid #de8787;
	background-color: #de8787;
	height: 40px;
	font-size: 14px;
	color: #6c2f2f;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}
