.element {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

.element p {
  border: solid rgb(50, 47, 47);
  background-color: rgb(56, 52, 52);
  font-weight: 700;
  padding: 1rem;
  color: var(--color-primary-500);
}

p span {
    font-weight: 400;
    color: var(--color-primary-200);
}

.actions {
  display: flex;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
}

.actions span,
.actions a,
.actions button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  color: var(--color-primary-200);
}

.actions button {
  background-color: transparent;
  border: none;
}

.actions span:hover,
.actions a:hover,
.actions button:hover {
  color: var(--color-primary-800);
}

.card_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
  transition: 0.2s ease;
}

.overlay_content {
  position: relative;
  top: 12%;
}  