.event_item {
	display: flex;
	flex-direction: column;
	border: 1px solid #c2c2d1;
	margin-right: 20px;
	width: 250px;
	min-width: 250px;
	min-height: 170px;
	padding: 10px;
}

.event_item_header {
	display: flex;
	justify-content: space-between;
}

.event_item_header_name_date {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}

.user_profile_icon {
	height: 35px;
	width: 35px;
	min-height: 18px;
	min-width: 18px;
	text-indent: 0px;
	position: relative;
	border-radius: 25px;
}

.event_item_header a {
	margin-right: 10px;
	padding: 0px;
	font-size: 14px;
}

.event_item_header_name_date #name {
	font-size: 14px;
	padding: 0px;
	font-weight: 550;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	color: black;
}

.event_item_header_name_date #date {
	font-size: 13px;
	color: grey;
	/* padding: 0px; */
	margin: 0px;
}

.event_type_icon {
	height: 25px;
	width: 25px;
	min-height: 18px;
	min-width: 18px;
	text-indent: 0px;
	position: relative;
}

.event_item_content {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
	height: 100%;
}

.event_item_content #description {
	padding: 0px;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.event_item_footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* margin-top: 10px; */
}

.event_item_footer #rsvp {
	font-size: 11px;
	font-weight: normal;
	padding: 0px;
	margin: 0;
}
