.main_nav_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 55px 10px 55px;
	background-color: white;
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #c2c2d1;
	width: 100%;
}

.main_nav_bar_left,
.main_nav_bar_right {
	display: flex;
	align-items: center;
}

.brand a {
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	padding-right: 20px;
}

.icon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
	position: relative;
}

.searchicon {
	top: 7px;
	left: 540px;
}

.bellicon {
	height: 25px;
	width: 25px;
	text-indent: 0px;
	cursor: pointer;
	margin-right: 20px;
}

.profilepic {
	height: 40px;
	width: 40px;
	text-indent: 0px;
	cursor: pointer;
	border-radius: 25px;
}

.hideIcon {
	display: none;
}

.search_field {
	display: flex;
	width: 620px;
	padding-right: 50px;
}

input[type="search"] {
	width: 100%;
	border: 1px solid #c2c2d1;
	border-radius: 0px 25px 25px 0px;
	font-size: 15px;
	padding: 10px;
	&:focus {
		border-color: #9b9bab;
		outline: none;
	}
}

.filter_search_button {
	display: flex;
	align-items: center;
	position: relative;
	background-color: white;
	padding: 5px 10px;
	border-radius: 25px 0px 0px 25px;
	cursor: pointer;
	font-size: 15px;
	width: 30%;
	border: 1px solid #c2c2d1;
	border-right: none;
	font-weight: 550;
}

.filter_search_list {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: white;
	width: 138px;
	text-align: center;
	left: 0;
	top: 43px;
	border-radius: 4px 4px 15px 15px;
	z-index: 2;
	border: 1px solid #c2c2d1;
	box-shadow: 0px 0px 3px #bbb5b5;
}

.filter_search_list p {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 5px 0px;
	cursor: pointer;
	font-weight: 550;
	color: rgb(126 123 123);
	&:not(:first-child) {
		border-top: 1px solid #c2c2d1;
	}
	&:hover {
		color: black;
	}
}

.arrowdropdownicon {
	left: 10px;
	transition: all ease-out 0.2s;
}

.arrowdropdownflip {
	transform: scaleY(-1);
}

.profile_menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 70px;
	right: 5px;
	width: 140px;
	border: 1px solid #c2c2d1;
	background-color: white;
	box-shadow: 0px 0px 3px #bbb5b5;
	border-radius: 4px;
	z-index: 2;
}

.profile_menu a {
	padding: 5px 0 5px 25px;
	text-align: left;
	text-decoration: none;
	color: rgb(126 123 123);
	font-size: 15px;
	border-top: 1px solid #e8e8f0;
	&:not(:first-child) {
		border-top: 1px solid #e8e8f0;
	}
	&:hover {
		color: black;
	}
}

.profile_menu button {
	border: none;
	padding: 8px 0 8px 25px;
	color: rgb(126 123 123);
	background-color: white;
	font-size: 15px;
	text-align: left;
	border-top: 1px solid #e8e8f0;
	cursor: pointer;
	border-radius: 0px 0px 4px 4px;
	&:hover {
		color: black;
	}
}

/* input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
} */
