.home_page {
	display: flex;
	flex-direction: column;
}

.home_actions {
	display: flex;
}

.contents {
	display: flex;
	align-items: flex-start;
}

.side_nav {
	display: flex;
	flex-direction: column;
}

.contents_items {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 850px;
	margin-right: 25px;
}

.current_actions {
	display: flex;
	background-color: white;
	border: 1px solid #c2c2d1;
	border-radius: 8px;
}

.current_actions_header {
	display: flex;
	width: 400px;
}
