.home_page {
	display: flex;
	flex-direction: column;
}

.home_body {
	display: flex;
}

.side_nav {
	display: flex;
	flex-direction: column;
}

.home_contents {
	display: flex;
	flex-direction: column;
}

.events_layout {
	width: 100%;
}

.right_actions {
	display: flex;
	flex-direction: column;
}
