.background_image {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 50% 100%;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url('../images/signup.jpeg');
	filter: brightness(0.5);
	&::before {
		content: '';
		display: block;
		position: inherit;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to right,
			rgba(18, 18, 24, 0.63) 15%,
			rgb(40, 42, 54) 45%
		);
	}
}

.signup_page {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;
	justify-content: stretch;
	height: 100vh;
}

.brand {
	padding: 25px 60px;
}

.brand a {
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color: white;
}

.signup_content {
	display: flex;
	justify-content: center;
	margin: 70px 50px 70px 130px;
	height: 100%;
	gap: 150px;
}

.signup_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 120px;
}

.signup_form {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.signup_text p {
	color: white;
	font-size: 35px;
	line-height: 50px;
	margin: 0;
	&:first-child {
		font-size: 20px;
	}
}

.left_side {
	display: flex;
	flex-direction: column;
	align-items: center;
}
