.form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 8px;
	/* padding: 25px; */
	width: 340px;
}

.form_content {
	display: flex;
	flex-direction: column;
}

.email_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

header {
	font-size: 50px;
	font-weight: 550;
	color: white;
	margin: 0;
	text-align: left;
	padding-bottom: 20px;
	line-height: 50px;
	text-wrap: pretty;
}

.su_input_field {
	padding: 10px 0px;
}

.su_input_flnames {
	display: flex;
	justify-content: space-between;
	position: relative;
	gap: 10px;
}

.su_input_field input {
	position: relative;
	width: 100%;
	background-color: rgb(27 29 39);
	border: 0.1px solid transparent;
	border-radius: 15px;
	padding: 12px 4px;
	padding-left: 25px;
	font-size: 15px;
	color: white;
	&:focus {
		outline: none;
		border: 1.5px solid grey;
	}
	&::placeholder {
		color: rgba(128, 128, 128, 0.966);
	}
}

.su_input_field input.invalid {
	border-color: rgba(255, 0, 0, 0.296);
}

.su_input_field label {
	position: absolute;
}

button[name="signup"] {
	margin-top: 30px;
	width: 100%;
	font-size: 15px;
	line-height: 1.6;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 15px;
	/* background-color: rgb(32 77 136); */
	background-color: #2c3333;
	color: white;
	border: none;
	&:hover {
		/* background-color: rgb(37, 88, 155); */
		background-color: #1c2727;
	}
}

.separator {
	text-align: center;
	margin: auto;
	width: 15%;
	font-size: 15px;
	font-weight: 500;
	line-height: 0.7;
	color: grey;
	padding: 20px 0;
}

.other_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 100%;
}

button[name="google"] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 15px;
	background-color: white;
	border: 1px solid black;
	&:hover {
		background-color: rgba(240, 240, 240, 0.827);
	}
}

button[name="google"] p {
	margin: 0;
	font-size: 15px;
	line-height: 1.6;
	color: black;
}

.googlelogo,
.warningIcon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
}

img {
	vertical-align: middle;
	border-style: none;
	overflow-clip-margin: content-box;
	overflow: clip;
}

.icon {
	height: 18px;
	width: 18px;
	min-height: 18px;
	min-width: 18px;
	margin-right: 8px;
	text-indent: 0px;
	position: absolute;
	z-index: 2;
}

.flicon {
	left: 140px;
	top: 10px;
}

.epicon {
	left: 315px;
	top: 10px;
}

.footer {
	margin-top: 30px;
	text-align: center;
}

.footer span {
	padding: 20px 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 0.7;
	color: grey;
}

.footer button {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.6;
	text-decoration: underline;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
}

.card_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.882);
	z-index: 10;
	transition: 0.2s ease;
}

.overlay_content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 500px;
	float: left;
	border-radius: 15px;
}

.error {
	border: 1px solid #eac8c8;
	background-color: #eac8c8;
	height: 40px;
	font-size: 14px;
	color: #6c2f2f;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
