@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
	/* transition: all 0.2s ease; */
}

.nav-normal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 20px 60px;
	transition: all 150ms ease;

	@media screen and (max-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #060606bf;
		transition: all 150ms ease;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 12px;
		backdrop-filter: blur(10px);
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
		-webkit-mask-image: linear-gradient(180deg,#060606 90%,transparent);	}
}

.nav-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #060606bf;
	transition: all 150ms ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 12px;
	backdrop-filter: blur(10px);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
	-webkit-mask-image: linear-gradient(180deg,#060606 90%,transparent);

}

.nav-links-normal {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: hwb(0 0% 100% / 0.161);
	padding: 10px 45px;
	> a {
	  margin: 0 30px;
	  text-decoration: none;
	  color: rgba(208, 202, 202, 0.926);
	  &:hover {
		color: white;
	  }
	}
	> a.active {
	  color: white;
	}
	@media screen and (max-width: 768px) {
		position: static;
		border: 1px solid transparent;
		padding: 0 16px;
		background-color: transparent;
		transform: none;
		gap: 24px;
		display: flex;
		> a {
			margin: 0;
		}
	}
}

.nav-links-scroll {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	top: 50%;

	> a {
	  margin: 0 30px;
	  text-decoration: none;
	  color: rgba(208, 202, 202, 0.926);
	  &:hover {
		color: white;
	  }
	}
	> a.active {
	  color: white;
	}
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo-large {
	max-width: 4rem;
	max-height: 4rem;
	transition: all 150ms ease;
	font-size: large;
	font-weight: bold;

	> g {
		fill: #ffffff;
	  }
	@media screen and (max-width: 768px) {
		max-width: 3rem;
		max-height: 3rem;
	}
}

.logo-small {
	max-width: 2rem;
	max-height: 2rem;
	transition: all 150ms ease;

	> g {
		fill: #ffffff;
	  }
	@media screen and (max-width: 768px) {
		max-width: 2rem;
		max-height: 2rem;
	}
}

.logo-text-large {
	font-size: large;
	font-weight: bold;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.logo-text-small {
	font-size: medium;
	font-weight: bold;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	/* color-scheme: light dark; */
	color: #e9ebf1;
	background-color: #060606;
	scrollbar-width: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-green-basic: #515934;
	--color-green-shade1: #48502e;
	--color-green-shade2: #404729;
	--color-green-shade3: #383e24;

	--color-black-basic: #010d00;
	--color-black-tint1: #000b00;
	--color-black-tint2: #000a00;
	--color-black-tint13: #000900;

	--color-greenblue-basic: #2a5559;
	--color-greenblue-shade1: #254c50;
	--color-greenblue-shade2: #214447;
	--color-greenblue-shade3: #1d3b3e;

	--color-lightgray-basic: #ccd5d9;
	--color-lightgray-shade1: #b7bfc3;
	--color-lightgray-shade2: #a3aaad;
	--color-lightgray-shade3: #8e9597;

	--color-normalgray-basic: #92a0a6;
	--color-normalgray-shade1: #839095;
	--color-normalgray-shade2: #748084;
	--color-normalgray-shade3: #667074;

	/* --color-gray-100: #e3f2fd;
	--color-gray-200: #bbdefb;
	--color-gray-300: #90caf9;
	--color-gray-400: #64b5f6;
	--color-gray-500: #1976d2;
	--color-gray-600: #0353a4;
	--color-gray-700: #023e7d;
	--color-gray-800: #002855;
	--color-gray-900: #000a1c;

	--color-primary-100: #fcf3e1;
	--color-primary-200: #001323;
	--color-primary-300: #0353a4;
	--color-primary-400: #fbd997;
	--color-primary-500: #2196f3;
	--color-primary-600: #0466c8;
	--color-primary-700: #0353a4;
	--color-primary-800: #0353a4;
	--color-primary-900: #0353a4; */
}

html { scroll-behavior: smooth;
background-color: #060606;
}


body {
	margin: 0;
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* padding: 7rem 15rem; */
	/* margin: 0.5rem 0; */
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input, textarea {
	font-family: inherit;
	font-size: inherit;
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: none;
	}
}