@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,400&display=swap');


@font-face {
	font-family: 'Druk-Bold';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-Bold-Trial.otf');
}
@font-face {
	font-family: 'Druk-BoldItalic';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-BoldItalic-Trial.otf');
}
@font-face {
	font-family: 'Druk-Heavy';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-Heavy-Trial.otf');
}
@font-face {
	font-family: 'Druk-HeavyItalic';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-HeavyItalic-Trial.otf');
}
@font-face {
	font-family: 'Druk-Medium';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-Medium-Trial.otf');
}
@font-face {
	font-family: 'Druk-Medium-Italic';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-MediumItalic-Trial.otf');
}
@font-face {
	font-family: 'Druk-Super';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-Super-Trial.otf');
}
@font-face {
	font-family: 'Druk-Super-Italic';
	src: url('./assets/fonts/Druk_Text_Wide/DrukTextWide-SuperItalic-Trial.otf');
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

.nav-normal {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: fixed;
	z-index: 100;
	width: 100%;
	padding: 20px 60px;
	transition: all 250ms ease;

	@media screen and (max-width: 768px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #060606bf;
		transition: all 250ms ease;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		padding: 12px;
		backdrop-filter: blur(10px);
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
		-webkit-mask-image: linear-gradient(180deg,#060606 90%,transparent);	}
}

.nav-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #060606bf;
	transition: all 250ms ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 70px;
	padding: 12px;
	backdrop-filter: blur(10px);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
	mask-image: linear-gradient(180deg,#060606 90%,transparent);
	-webkit-mask-image: linear-gradient(180deg,#060606 90%,transparent);

}

.nav-links-normal {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid transparent;
	border-radius: 15px;
	background-color: hwb(0 0% 100% / 0.161);
	padding: 10px 45px;
	> a {
	  margin: 0 30px;
	  text-decoration: none;
	  color: rgba(208, 202, 202, 0.926);
	  &:hover {
		color: white;
	  }
	}
	> a.active {
	  color: white;
	}
	@media screen and (max-width: 768px) {
		position: static;
		border: 1px solid transparent;
		padding: 0 16px;
		background-color: transparent;
		transform: none;
		gap: 24px;
		display: flex;
		> a {
			margin: 0;
		}
	}
}

.nav-links-scroll {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	top: 50%;

	> a {
	  margin: 0 30px;
	  text-decoration: none;
	  color: rgba(208, 202, 202, 0.926);
	  &:hover {
		color: white;
	  }
	}
	> a.active {
	  color: white;
	}
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo-large {
	max-width: 4rem;
	max-height: 4rem;
	transition: all 150ms ease;
	font-size: large;
	font-weight: bold;

	> g {
		fill: blue;
	  }
	@media screen and (max-width: 768px) {
		max-width: 3rem;
		max-height: 3rem;
	}
}

.logo-small {
	max-width: 2rem;
	max-height: 2rem;
	transition: all 150ms ease;

	> g {
		fill: #ffffff;
	  }
	@media screen and (max-width: 768px) {
		max-width: 2rem;
		max-height: 2rem;
	}
}

.logo-text-large {
	font-size: large;
	font-weight: bold;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.logo-text-small {
	font-size: medium;
	font-weight: bold;
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.arrow-container {
	display: inline-block;
	position: relative;
	width: 2rem;
	height: 2rem;
}

.arrow-down {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	transform: scaleX(1.5);
	> path {
		fill: #ffffff;
	}
	&:hover {
		transform: scaleX(2);
	}
}

.background::before {
	filter: brightness(0.4);
	background-image: url('./assets/images/group-friends.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
}


:root {
	font-family: Duke Wide, Inter, Avenir, Helvetica, Arial, sans-serif;

	/* color-scheme: light dark; */
	color: #e9ebf1;
	background-color: #060606;
	scrollbar-width: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-green-basic: #515934;
	--color-green-shade1: #48502e;
	--color-green-shade2: #404729;
	--color-green-shade3: #383e24;

	--color-black-basic: #010d00;
	--color-black-tint1: #000b00;
	--color-black-tint2: #000a00;
	--color-black-tint13: #000900;

	--color-greenblue-basic: #2a5559;
	--color-greenblue-shade1: #254c50;
	--color-greenblue-shade2: #214447;
	--color-greenblue-shade3: #1d3b3e;

	--color-lightgray-basic: #ccd5d9;
	--color-lightgray-shade1: #b7bfc3;
	--color-lightgray-shade2: #a3aaad;
	--color-lightgray-shade3: #8e9597;

	--color-normalgray-basic: #92a0a6;
	--color-normalgray-shade1: #839095;
	--color-normalgray-shade2: #748084;
	--color-normalgray-shade3: #667074;

	--color-primary-900: #0353a4;
}

html { scroll-behavior: smooth;
background-color: #060606;
}


body {
	margin: 0;
	font-family: "Duke Wide";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qr-code-container {
	position: absolute;
	left: 100%;
	margin-left: 12px;
	background: white;
	padding: 24px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	z-index: 30;
	&::before {
		content: "";
		position: absolute;
		left: -12px;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid white;
	}
}
