* {
	box-sizing: border-box;
	/* transition: all 0.2s ease; */
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	/* color-scheme: light dark; */
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(228, 222, 222);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-green-basic: #515934;
	--color-green-shade1: #48502e;
	--color-green-shade2: #404729;
	--color-green-shade3: #383e24;

	--color-black-basic: #010d00;
	--color-black-tint1: #000b00;
	--color-black-tint2: #000a00;
	--color-black-tint13: #000900;

	--color-greenblue-basic: #2a5559;
	--color-greenblue-shade1: #254c50;
	--color-greenblue-shade2: #214447;
	--color-greenblue-shade3: #1d3b3e;

	--color-lightgray-basic: #ccd5d9;
	--color-lightgray-shade1: #b7bfc3;
	--color-lightgray-shade2: #a3aaad;
	--color-lightgray-shade3: #8e9597;

	--color-normalgray-basic: #92a0a6;
	--color-normalgray-shade1: #839095;
	--color-normalgray-shade2: #748084;
	--color-normalgray-shade3: #667074;

	/* --color-gray-100: #e3f2fd;
	--color-gray-200: #bbdefb;
	--color-gray-300: #90caf9;
	--color-gray-400: #64b5f6;
	--color-gray-500: #1976d2;
	--color-gray-600: #0353a4;
	--color-gray-700: #023e7d;
	--color-gray-800: #002855;
	--color-gray-900: #000a1c;

	--color-primary-100: #fcf3e1;
	--color-primary-200: #001323;
	--color-primary-300: #0353a4;
	--color-primary-400: #fbd997;
	--color-primary-500: #2196f3;
	--color-primary-600: #0466c8;
	--color-primary-700: #0353a4;
	--color-primary-800: #0353a4;
	--color-primary-900: #0353a4; */
}

html { scroll-behavior: smooth; }


body {
	margin: 0;
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* padding: 7rem 15rem; */
	/* margin: 0.5rem 0; */
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	padding-top: 100px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: black;
}

div {
	color: black;
}
