* {
	box-sizing: border-box;
	/* transition: all 0.2s ease; */
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	/* color-scheme: light dark; */
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(228, 222, 222);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-gray-100: #e3f2fd;
	--color-gray-200: #bbdefb;
	--color-gray-300: #90caf9;
	--color-gray-400: #64b5f6;
	--color-gray-500: #1976d2;
	--color-gray-600: #0353a4;
	--color-gray-700: #023e7d;
	--color-gray-800: #002855;
	--color-gray-900: #000a1c;

	--color-primary-100: #fcf3e1;
	--color-primary-200: #001323;
	--color-primary-300: #0353a4;
	--color-primary-400: #fbd997;
	--color-primary-500: #2196f3;
	--color-primary-600: #0466c8;
	--color-primary-700: #0353a4;
	--color-primary-800: #0353a4;
	--color-primary-900: #0353a4;
}

body {
	margin: 0;
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* padding: 7rem 15rem; */
	/* margin: 0.5rem 0; */
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
	padding-top: 100px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: black;
}

div {
	color: black;
}
